@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #f1f0f5;
    font-family: 'Xann Mono', monospace;
    font-weight: 200;
    row-gap: 8px;
    
}


.timer{
    color: #fff;
    width: 413px;
    height: 171px;
    background-color: #1c1b1b;
    border-radius: 15px 15px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-value {
    color: #fff;
    font-size: 5em;
    font-family: 'Xann Mono', monospace;
    display: flex;
    justify-content: center;
}

.hours {
    color: #D9D9D9;
}
.minutes {
    color: #049DD9;
}
.seconds {
    color: #FE58A6;
}
.colon {
    color:#2C4571;
}
.timer-btns {
    width: 413px;
    height: 70px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;    
}

button {
    width: 140px;
    color: #fff;
    font-size: 1.3em;
    height: 70px;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 2px rgba(116, 116, 116, 0.247);   
}

.btn-start {
    background-color: #14C38E;
    border-radius: 3px 3px  3px 15px;
}

.btn-start:hover {
    background-color: #16b485;
    color: #fff;
}

.btn-reset {
    background-color: #FCA545;
    border-radius: 3px;
}
.btn-reset:hover {
    background-color: #fd982c;
    color: #fff;
}

.btn-stop{
    background-color: #e95454;
    border-radius: 3px 3px 15px 3px;
}
.btn-stop:hover {
    background-color: #eb4141;
}

